In [3]:
#creating lable

a=[1,2,3,4,5]

b=pd.Series(a,index=["a","b","c","d","e"])

print(b)

print(b[3])

a    1
b    2
c    3
d    4
e    5
dtype: int64
4

In [4]:
#Create a simple Pandas Series from a dictionary:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [5]:
#Create a Series using only data from "day1" and "day2":
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

# DataFrame

In [11]:

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [22]:
#locate row
print(df.loc[1])

calories    380
duration     40
Name: 1, dtype: int64

In [23]:
print(df.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [24]:
#Add a list of names to give each row a name:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [25]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

# Pandas read csv

In [26]:
import pandas as pd

df = pd.read_csv("data.csv")

print(df)

       Date      Open      High       Low     Close  Shares Traded  \
0  1-Oct-21  17531.90  17557.15  17452.90  17532.05      305763919
1  4-Oct-21  17615.55  17750.90  17581.35  17691.25      295761839
2  5-Oct-21  17661.35  17833.45  17640.90  17822.30      427000191
3  6-Oct-21  17861.50  17884.60  17613.15  17646.00      395833550

   Turnover (Rs. Cr)
0           20911.61
1           21343.51
2           23066.80
3           24504.30

In [27]:
#Check the number of maximum returned rows:
import pandas as pd

print(pd.options.display.max_rows)

60

In [38]:
import pandas as pd

pd.options.display.max_rows = 10

df = pd.read_csv('data.csv')

print(df)

print(pd.options.display.max_rows)

       Date      Open      High       Low     Close  Shares Traded  \
0  1-Oct-21  17531.90  17557.15  17452.90  17532.05      305763919
1  4-Oct-21  17615.55  17750.90  17581.35  17691.25      295761839
2  5-Oct-21  17661.35  17833.45  17640.90  17822.30      427000191
3  6-Oct-21  17861.50  17884.60  17613.15  17646.00      395833550

   Turnover (Rs. Cr)
0           20911.61
1           21343.51
2           23066.80
3           24504.30
10