# Data Cleaning

Data cleaning means fixing bad data in your data set.

Bad data could be:

    Empty cells
    Data in wrong format
    Wrong data
    Duplicates

In [1]:
#Return a new Data Frame with no empty cells:

import pandas as pd

df = pd.read_csv('data.csv')

new_df = df.dropna()

print(new_df.to_string())

       Date      Open      High       Low     Close  Shares Traded  Turnover (Rs. Cr)
0  1-Oct-21  17531.90  17557.15  17452.90  17532.05      305763919           20911.61
1  4-Oct-21  17615.55  17750.90  17581.35  17691.25      295761839           21343.51
2  5-Oct-21  17661.35  17833.45  17640.90  17822.30      427000191           23066.80
3  6-Oct-21  17861.50  17884.60  17613.15  17646.00      395833550           24504.30

In [2]:
type(new_df)

pandas.core.frame.DataFrame

In [3]:
#Remove all rows with NULL values:
import pandas as pd

df = pd.read_csv('data.csv')

df.dropna(inplace = True)

print(df.to_string())

       Date      Open      High       Low     Close  Shares Traded  Turnover (Rs. Cr)
0  1-Oct-21  17531.90  17557.15  17452.90  17532.05      305763919           20911.61
1  4-Oct-21  17615.55  17750.90  17581.35  17691.25      295761839           21343.51
2  5-Oct-21  17661.35  17833.45  17640.90  17822.30      427000191           23066.80
3  6-Oct-21  17861.50  17884.60  17613.15  17646.00      395833550           24504.30

In [4]:
#Replace NULL values with the number 130:
import pandas as pd

df = pd.read_csv('data.csv')
df.fillna(130, inplace = True)